.nav {
	width: 760px;
	float: left;
    background: #353535 url() repeat-x 0 0;
	border-right: 1px #353535 solid;
	border-left: 1px #353535 solid;
	border-top: 1px #353535 solid;
	border-bottom: 4px #353535 solid; /*3px*/
	/*border-radius: 6px;*/
	border-bottom-right-radius: 6px;
    position:relative;
    z-index:1000;
    list-style: none;
    padding: 0;
	display: inline block;
	vertical-align: bottom;
}

.nav li {
	font-size: 13px;
	letter-spacing: 1px; /* 80%; letter-spacing: 2px */
	/* text-shadow: 0 -1px 0 #000; */
	
    padding: 0;
	padding-left: 15px;
	padding-right: 85px;
    float: left;
    position: relative;
}

.nav li:hover, .nav li.onhover {
    /*background: #474747 url() repeat-x 0 -48px;*/
}

ul.nav a {
	text-align: left;
	min-width:45px; /* 90px */
	width: auto;
    padding: .4em 1.4em;
    /*line-height: 34px;*/
    font-weight: bold;
    /*color: black;*/
    display: block;
    outline: 0;
    text-decoration: none;
	
	color: #f2f243;
}

.nav a:hover {
    text-decoration: underline;
}

.nav a.hasChild {
    background: url(../images/navArrowDown.png) no-repeat right center;
	margin-left:-2px;
	margin-right:2px;
}

.nav ul a.hasChild {
    background: url(../images/navArrowRight.png) no-repeat right center;
	margin-left:2px;
	margin-right:-2px;
}
    
/* 2nd and 3rd levels */
        
ul.nav ul {
    width:150px;
    position: absolute;
    left: -9999px;
    border: 1px solid #353535;
    border-top: 0; 
    background: #353535;    
    text-align: left;
    list-style: none;
	margin: 0;  
    padding: 0 1px 10px 0; /*1px ==> 42px*/
	z-index:1000;
	
	border-bottom: 2px #191919 solid;
}

.nav li li {
    float: none;
    white-space:nowrap;
    height: 26px;
}
.nav li li:hover, .nav li li.onhover {
    /*background: #474747;*/ /* #dbe0dc #f7f7f7 */
}
.nav ul a {
    padding: 0 20px;
    line-height: 26px;
    font-size: 0.9em;
    font-weight: bold;
    color: #000;
    text-align: left;
	
	color: #f2f243; /*f5f500*/
}

.nav ul a:hover {
    text-decoration: underline;
}

.nav li:hover ul, .nav li.onhover ul {
    left: -1px; /* Offset of dropdown */
    top: 30px; /* auto */
    z-index:1000;
}

.nav li:hover .dropToLeft, .nav li.onhover .dropToLeft {
    left: auto;
    right: -1px;
    top: auto;
}
.nav ul ul {
    border-top: 1px solid #353535;
	
	/*margin-left:41px;*/
}

.nav li:hover ul ul, .nav li.onhover ul ul {
    left: -9999px;
    top:0;
}

.nav li li:hover ul, .nav li li.onhover ul {
    left: 150px;
}

.nav ul  {
	border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
	
    filter:alpha(opacity=90);
    opacity: 0.90;  
}